/* Colores y Configuracion general */
:root
{
/* PALETA DE COLORES ENACUM */
  /* --color-azul: #04A2E5;
  --color-verde: #04AC23;
  --color-naranja: #F26904;
  --color-turquesa: #B4687C; */

/* PLATILLOS  */
  --color-fondo: #f7ba4c;
  --color-titulos: #f7ba4c;
  --color-platillos-titulos: #274c4c;
  --color-platillos-contenido: #274c4c;
  
  user-select: none;
  pointer-events: none;
}

/* Fondo */
body
{
  background-color: var(--color-fondo);
  height: 100vh;
}

.contenedor-padre
{
  height: 100%;
}

@media (max-width: 1000px)
{
  .logo-restaurante
  {
    margin-top: -12rem;/* para que comience el logo por encima del banner */
    width: 20rem;/* el logo respeta dimensiones */
  }
}